<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="1">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="logs/app.log"/>
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n" />
        </Console>

        <RollingFile name="ErrorLog" fileName="error.log"
                     filePattern="%d{yyyyMMdd}.error.%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>

            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>

        </RollingFile>

        <RollingFile name="WarnLog" fileName="warn.log"
                     filePattern="%d{yyyyMMdd}.warn.%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>

            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>

        </RollingFile>
    </Appenders>


    <Loggers>
        <Logger name="com.perennial.sme_payroll" level="debug"/>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorLog"/>
            <AppenderRef ref="WarnLog"/>
        </Root>
    </Loggers>
</Configuration>